.app {
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  display: grid;
  min-height: 100%;
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-position: top -50vh left -20vw, bottom -50vh right -20vw;
}

